#search_middle{
background-image:url(white.png);
border: 7px double white;
font-size: 13px;
color: #333;
position: absolute;
width: 500px;
height: 200px;
top: 50%;
margin-left: 345px;
margin-top: -100px;
text-align:center;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
}
#search_up{
background-image:url(white.png);
border: 7px double white;
font-size: 13px;
color: #333;
width: 500px;
height: 200px;
margin-left: 345px;
margin-top: 100px;
text-align:center;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
}
#search_results{
padding-top:50px;
width:814px;
margin-left: 195px;
}

.left{
padding-left:30px;
font-size:17px; 
font-weight:bold; 
width:100px;
text-align:left;
}
.right{
padding-left:30px;
font-size:17px; 
font-weight:bold; 
width:100px;
text-align:left;
}
#right1{ 
background-color:#ffa; 
width:300px; 
border:6px solid #ddd; 
}
#right2{ 
background-color:#ffa; 
width:310px; 
border:6px solid #ddd; 
}

#submit{
background-color:#aaa;
color:black;
font-size:17px; 
font-weight:bold; 
width:400px;
border:6px solid #ddd; 
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

#submit:hover { text-decoration:none; font-style:italic;cursor:pointer;}

#nothing{
background-image:url(orange.png);
border: 3px solid white;
font-weight: bold;
font-size: 16px;
color: white;
margin-left:100px;
height: 50px;
width: 600px;
padding-top:10px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
text-align:center;
}
#error{
background-image:url(red.png);
border: 3px solid white;
font-weight: bold;
font-size: 16px;
color: white;
margin-left:100px;
height: 50px;
width: 600px;
padding-top:10px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
text-align:center;
}
.search_out{
background-image:url(white.png);
border: 7px double white;
color: #333;
width: 800px;
height:300px;
text-align:center;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
margin-bottom:50px;
}
.title {
font-size:19px; 
font-weight:bold; 
}
.available{
background-color:green;
font-size:20px; 
font-weight:bold; 
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
color:white;
height:50px;
}
.unavailable{
background-color:red;
font-size:20px; 
font-weight:bold; 
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
color:white;
height:50px;
}